.fade {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../images/placeholder.jpeg') no-repeat center center fixed;
  background-size: cover;
}
.zoom {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.afterzoom {
  position: absolute;
  /* height: 200vh;  */
  width: 100%;
  background-color: lightslategray;
  color: black;
  overflow-x: auto;
}

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Be+Vietnam+Pro&family=Cinzel&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

/*
font-family: 'Alegreya', serif;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif;
*/

html, body, section {
  block-size: 100%;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  overflow: scroll;
  z-index: 0;
}

#name {
  width: 150px;
  height: 100px;
  background-color: black;
  border-radius: 50px;
}

.fade-in-image{
  animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  1% { opacity: 0; }
  2% { opacity: 0; }
  3% { opacity: 0; }
  4% { opacity: 0; }
  5% { opacity: 0; }
  6% { opacity: 0; }
  7% { opacity: 0; }
  8% { opacity: 0; }
  9% { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 0; }
  100% { opacity: 1; }
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  display: flex;
  align-items: center;
  justify-content: center;
}

#filler{
  height: 115%;
  background:white;
}

#portrait{
  background-color: #D2D3D0;
  background-image: url(../images/portrait-2.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  border-top: 5px solid #b0b0b0;
  border-bottom: 5px solid #b0b0b0;
  z-index: 2;
}
#portrait h2{
  text-align: center;
  font-size: 5rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  z-index: 2;
  color:rgb(69, 75, 116);
}
#portrait a{
  display: block;
  color:rgb(255, 255, 255);
  background-color: #495b74;
  border-radius: 40px;
  padding: 10px;
  text-decoration: none;
  position: relative;
}
#portrait a::after{
  content: "";
  background: white;
  border-radius: 40px;
	mix-blend-mode: exclusion;
  width: calc(100% + 20px);
  height: 0;
  position: absolute;
  bottom: -4px;
  left: -10px;
	transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  box-shadow: 3px 3px rgb(0, 0, 0);
}
#portrait a:hover::after{
	height: calc(100% + 8px)
}
#portrait p{
  font-size: 2rem;
  font-family: 'Be Vietnam Pro', serif;
  background-color: rgb(210, 216, 255);
  width: 95%;
}

#quote{
  background-color: #D3D4D0;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #495b74;
  transition: opacity 1s, visibility 1s;
}
.loader-hidden{
  opacity: 0;
  visibility: hidden;
}
.loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border:15px solid #beb5c6;
  border-top-color: #725a87;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}
@keyframes loading{
  from{
    transform: rotate(0turn);
  }
  to{
    transform: rotate(1turn);
  }
}

.green{
  background: #66FF99;
}
.orange{
    background: #f17c57fa;
}
.blue{
  background: #3652D9;
}
.rose{
  background:#FF66CC;
}
.center {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px #0000001a;
}
.pulse {
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.8);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
.master{
  color:black;
  float:right;
}
@media (max-width:900px){
  .master{
    display:none
  }
}

@media only screen and (orientation: portrait) {
  #quote h2{
    margin-inline: 10%;
    font-size: 2rem;
  }
}