/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Be+Vietnam+Pro&family=Cinzel&family=Press+Start+2P&family=Rubik+Mono+One&display=swap');

/*
font-family: 'Alegreya', serif;
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif;
*/

.navbar {
  font-family: 'Be Vietnam Pro', serif;
  overflow: hidden;
  background-color: #212E5B;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transform: 0.75s
}
.navbar a:hover {
  background: #B9AED6;
  color: black;
  transform: scale(1.2);
  /* border-radius: 50px; */
}

@media only screen and (orientation: portrait) {
  .navbar {
    font-family: 'Be Vietnam Pro', serif;
    overflow: hidden;
    background-color: #212E5B;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 50px;
    text-decoration: none;
    font-size: 30px;
  }
}