#body{
    margin:0;
    padding:0;
    z-index: 0;
    background: #212E5B;
    min-height: 100vh;
    max-width: 100vw;
}

#body .navbar{
    background-color: #0f1839;
    border-bottom: 1px solid rgb(200, 200, 200);
}
#body .navbar a:hover {
    background: #212E5B;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-main {
    flex-grow: 1;
    z-index: 2;
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

.projects{
    text-decoration: none;
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -8%;
    max-width: 100vw;
}
.project-item {
    max-width: 97vw;
    display: flex;
    align-self: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 5em;
    font-weight: 700;
    width: 100vw;
    position: relative;
    cursor: pointer;
    margin-left: 3rem;
    transform: transition 0.75s;
}
.project-item:hover{
    transform: scale(1.05);
}
.project-item-title {
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.01em white;
    transition: -webkit-text-stroke 0.5s ease, color 0.5s ease;
}
.project-item:hover .project-item-title {
    -webkit-text-stroke: none;
    color: white;
}
.project-item-title::after {
    content: attr(data-menu-item-text);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 900;
    -webkit-text-stroke: 0.012em white;
    /* color: transparent; */
    opacity: 0;
    transition: opacity 0.5s ease;
}

.project-item-hover-image {
    width: auto;
    height: auto;
    max-width: 50rem;
    /* max-width: 600px; */
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 75%;
    opacity: 0;
    /* transition: opacity 0.3s, transform 0.7s cubic-bezier(0.23, 1, 0.32, 1); */
    /* This places the cursor in the center of the image. Divide the width and height by 2 to get the top and left offsets :) */ 
    overflow: hidden;
    pointer-events: none;
    z-index: 2;
    border-radius: 10px;
    /* margin-right: 20px; */
}
.project-item:hover .project-item-hover-image {
    opacity: 1;
}
.project-item:hover .project-item-title::after {
    opacity: 1;
    z-index: 3;
}

.buffer{
    height: 20vh;
    max-width: 100vw;
    z-index: 0;
}
.buffer2{
    height: 100vh;
    max-width: 100vw;
    z-index: 0;
}

.about-me{
    max-width: 100vw;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
}

#about-title{
    margin-inline: 0;
    margin-left: 60px;
    font-size: 2rem;
    color: #ffffff6a;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.summary{
    font-size: 2rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(206, 206, 206);
    position: absolute;
    margin-inline: 20%;
    padding-bottom: 1000px;
}
#part1, #part2, #part3{
    transition: transform 0.75s
}
#part1:hover, #part2:hover, #part3:hover{
    transform: scale(1.2);
}

#music-title{
    position: relative;
    font-size: 2rem;
    color: #ffffff6a;
    font-family: "Oswald", sans-serif;
    margin-right: 0vw;
}

.music{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: cover;
    margin-bottom: 50vh;
    margin-right: 7vw;
    transition: transition 4s;
}
.music img:hover{
    bottom: 5px;
}
.music img{
    position: absolute;
    height: 400px;
    width: auto;
}
.damn{
    margin-left: -20%;
}
.nirvana{
    margin-left: -10%;
}
.twisted{
    margin-left: 0%;
}
.lonerism{
    margin-left: 10%;
}
.tickets{
    margin-left: 20%;
}
.flower-boy{
    margin-left: 30%;
}
.mgmt{
    margin-left: 40%;
}
.pyromania{
    margin-left: 50%;
}
.smithereens{
    margin-left: 60%;
}

footer{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    width: 100vw;
    z-index: 3;
}

.contact{
    background-color: #0F1839;
    border-radius: 50px;
    padding-inline: 15px;
}

.contact svg{
    margin-inline: 5px;
    margin-bottom: 7px;
    transition: transform 0.75s;
}
.contact svg:hover{
    transform: scale(1.5);
}


@media only screen and (orientation: portrait) {
    #body .navbar{
        border-top: 3px solid rgb(200, 200, 200);
        border-bottom: 3px solid rgb(200, 200, 200);
    }

    .project-item img{
        width: 20rem;
    }

    .buffer{
        height: 5vh;
        width: 100vw;
    }    

    .summary{
        font-size: 2rem;
        font-family: 'Be Vietnam Pro', sans-serif;
        color: rgb(206, 206, 206);
        position: absolute;
        margin-inline: 10%;
    }

    #music-title{
        position: absolute;
        margin-top: 330vh;
        margin-left: 35vw;
    }
    .damn{
        margin-left: -50%;
    }
    .nirvana{
        margin-left: -35%;
    }
    .twisted{
        margin-left: -20%;
    }
    .lonerism{
        margin-left: -5%;
    }
    .tickets{
        margin-left: 10%;
    }
    .flower-boy{
        margin-left: 25%;
    }
    .mgmt{
        margin-left: 40%;
    }
    .pyromania{
        margin-left: 55%;
    }
    .smithereens{
        margin-left: 70%;
    }

    footer{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        margin-bottom: 45px;
        margin-bottom: 10px;
        width: 100vw;
        z-index: 3;
    }
    .contact{
        background-color: #0F1839;
        border-radius: 50px;
        padding-inline: 15px;
        margin-bottom: 45px;
    }
    .contact svg{
        margin-inline: 30px;
        width: 90px;
        height: 90px;
    }
}

